BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_CLUB_CHANNEL_ID=
TELEGRAM_WEBHOOK_SECRET=

NODE_ENV=development